<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">

    <!-- Vuejs: development version, includes helpful console warnings -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script> -->

    <!-- Vuejs: production version, optimized for size and speed -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>

    <title>Autoilumittari-sovellus</title>
  </head>
  
  <body>

    <!-- Main app begins here -->
    <div id="app">

      <h1>Autoilumittari-sovellus</h1>

      <!-- Form begins here -->
      <div class="form">
        <div id="left">
          <span>Valitse auton tyyppi</span>
        </div>
  
        <div id="right">
          <select v-model="carType">
            <option v-bind:value="carTypes[0].value">{{ carTypes[0].name }}</option>
            <option v-bind:value="carTypes[1].value">{{ carTypes[1].name }}</option>
            <option v-bind:value="carTypes[2].value">{{ carTypes[2].name }}</option>
          </select>
        </div><hr />

        <div id="left">
          <span>Matkan pituus (km)</span>
        </div>

        <div id="right">
          <input type="number" v-model="travelDistance" @focus="$event.target.select()" /> <span>{{ travelDistanceErrMsg }}</span>
        </div><hr />

        <div id="left">
          <span>Matkanopeus A (km/h)</span>
        </div>
  
        <div id="right">
          <input type="number" v-model="speedA" @focus="$event.target.select()" /> <span>{{ speedAErrMsg }}</span>
        </div><hr />

        <div id="left">
          <span>Matkanopeus B (km/h)</span>
        </div>

        <div id="right">
          <input type="number" v-model="speedB" @focus="$event.target.select()" /> <span>{{ speedBErrMsg }}</span>
        </div><hr />

        <div id="bottom">
          <button v-on:click="calculate">Laske</button>
          <button v-on:click="clear">Tyhjennä</button>
        </div>
      </div>
      <!-- Form ends here -->

      <br />

      <!-- Results begins here -->
      <div class="results" v-if="resultsVisible">
        <div id="left">
          <span v-html="results[0]"></span>
        </div>
        <div id="right">
          <span v-html="results[1]"></span>
        </div><hr />
        <div id="center">
          <strong><span v-html="results[2]"></span></strong>
        </div><hr />
        
        <div id="left">
          <span v-html="results[3]"></span>
        </div>
        <div id="right">
          <span v-html="results[4]"></span>
        </div><hr />
        <div id="center">
          <strong><span v-html="results[5]"></span></strong>
        </div><hr />
      </div>
      <!-- Results ends here -->

    </div>
    <!-- Main app ends here -->

  </body>

  <script src="./app.js"></script>

</html>